[submodule "openpi"]
	path = openpi
	url = https://github.com/Physical-Intelligence/openpi.git
	branch = main
[submodule "lehome-challenge"]
	path = lehome-challenge
	url = https://github.com/KenjiPcx/lehome-challenge.git
	branch = main
